/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Navbar */
.navBar {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    text-align: center;
    font-size: xx-large;
    margin: 40px 0px 40px 0px;
}
.navBarCol {
    font-family: 'Open Sans', sans-serif;
    flex: 33%;
}

/* Content */
.pageContent {
    font-family: 'Open Sans', sans-serif;
    margin: 0px 15% 0px 15%;
}

/* Gnome */
.gnomerino {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}